@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #8aab3f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-poppins);
}

body,
html {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: #f8f9fa;
}

.color-primary {
  color: #8aab3f;
}

.bg-primary {
  background-color: #8aab3f;
}

button {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover {
  filter: brightness(1.1);
}

.multine-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
